<head>
    <title>Music Mate</title>
    <link rel="stylesheet" href="../static/css/main.css">
    <script type="text/javascript">  
            function selects(){  
                var ele=document.getElementsByName('recommendedTrack');  
                for(var i=0; i<ele.length; i++){  
                    if(ele[i].type=='checkbox')  
                        ele[i].checked=true;  
                }  
            }  
            function deSelect(){  
                var ele=document.getElementsByName('recommendedTrack');  
                for(var i=0; i<ele.length; i++){  
                    if(ele[i].type=='checkbox')  
                        ele[i].checked=false;  
                      
                }  
            }             
    </script>  
</head>
<body>
    <a href="/playlistByRecommendation/"><button class="back">Back</button></a>
    <form action="/getPlaylists/" method="POST">
    <h2>Awesome! Here's some similar tracks!</h2>
        <input type="button" class="pink"onclick='selects()' value="selectAll"/>
        <input type="button" class="purple" onclick='deSelect()' value="deselectAll"/>
        <br> 
        <div class="recommendations">
    {% for item in recommendations %}
        <div class="item">
        <div class="backgrounded">
        <input type="checkbox" name="recommendedTrack" value="{{item['id']}}">
        <label for="recommendedTrack">
            <img src="{{item['image']}}">
            <br>
            </div>
            <a href="{{item['url']}}">{{item['name']}} by {{item['artist']}}</a>
        </label>
        </div>
    {% endfor %}
    </div>
    <div class="right-button">
    <button type="submit" value="submit" class="pink next">Next</button>
    </div>
    </form>
</body>